extends ../../layouts/default.pug

block main
  h1(class="mb-4") #{pageTitle}

  form(
    action=`${prefixAdmin}/tours/create`
    method="POST"
  )
    div.form-group
      label(for="title") Tiêu đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        required
      )

    div.form-group
      label(for="category") Danh mục
      select.form-control(
        name="category_id"
        id="category"
        required
      )
        option(value="" disabled selected) -- Chọn danh mục --
        each item in categories
          option(value=item.id)= item.title

    div.form-group
      label(for="price") Giá
      input.form-control(
        type="number"
        name="price"
        value="0"
        min = "0"
        id = "price"
        )

    div.form-group
      label(for="discount") % Giảm giá
      input.form-control(type="number" name="discount" value="0" min = "0" id = "discount")

    div.form-group
      label(for="stock") Số lượng
      input.form-control(type="number" name="stock" value="0" min = "0" id = "stock")

    div.form-group
      label(for="timeStart") Lịch khởi hành
      input.form-control(type="datetime-local" name="timeStart" id="timeStart")

    div.form-group
      label(for="position") Vị trí
      input.form-control(type="number" name="position" id="position" placeholder="Tự động tăng" min ="1")

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Tạo mới